* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(218, 214, 214);
}
body {
  background-image: url("img/double-bubble.png");

  background-repeat: repeat;
}
header {
  background-color: whitesmoke;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #c1c1c1;
}
header h1 {
  color: teal;
  margin-top: 2rem;
  font-style: bold;
}
button:hover {
  background-color: teal;
}
header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;
  margin-left: 3rem;
  width: 25vw;
}

a {
  text-decoration: none;
  border: 2px solid #333;
  background-color: rgb(177, 177, 177);
  padding: 2rem;
  border-radius: 10px;
}

a:hover {
  background-color: rgb(236, 169, 43);
}
.description {
  display: flex;
  align-items: center;
  justify-content: center;
}
.description .container {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 2rem;
  box-shadow: 10px 10px 4px rgb(75, 75, 75);
  border: 1px solid #c1c1c1;

  padding: 3rem 3rem 3rem 3rem;
  background-color: rgb(255, 255, 255, 0.9);
}
.pageHead {
  box-shadow: 5px 5px 2px rgb(75, 75, 75);
  border-radius: 10px;
  border: 1px solid #c1c1c1;
  width: 60vw;
  margin: auto;
  height: 3rem;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  background-color: rgb(255, 255, 255, 0.8);
}
.example {
  display: flex;
  padding-top: 3rem;
}
.example iframe {
  height: 100vh;
  border-radius: 10px;
}
.displayer {
  width: 70%;
}
.bublyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bublyContainer iframe {
  border-radius: 10px;
  height: 100vh;
}

@media screen and (max-width: 850px) {
  .bubly {
    display: none;
  }
  .example {
    display: flex;
    flex-direction: column;
  }
  .displayer {
    width: 100%;
  }
  iframe {
    overflow: hidden;
  }
  header {
    flex-direction: column;
    height: 25vh;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  header nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  header nav ul {
    width: 100%;
    display: flex;
    align-items: center;
  }
}
